body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}


/* HEADER */

header {
    position: fixed;
    z-index: 1;
    background-color: black;
    display: flex;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
}

.header-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.content {
    position: absolute;
    top: 69px;
}


/* MISSION */

.mission {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}


/* TEA OF THE MONTH */

.individual-tea {
    height: 200px;
    width: 300px;
}


/* LOCATIONS */

.locations {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
}