body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    display: flex;
    justify-content: center;
}


/* HEADER */

header {
    position: fixed;
    z-index: 1;
    background-color: black;
    display: flex;
    width: 100%;
    height: 69px;
    top: 0px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
}

header img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: seashell;
    height: 50px;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: row;
    text-decoration: underline;
}

header a {
    margin: 10px;
    color: seashell;
}


/* OVERALL CONTENT */

.content {
    position: absolute;
    top: 69px;
}


/* MISSION */

.mission {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
    height: 700px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mission .text {
    background-color: black;
    width: 100%;
}

.mission h2 {
    margin: 0 auto;
    padding: 10px;
}

.mission h4 {
    margin: 0 auto;
    padding: 10px;
}


/* TEA OF THE MONTH */

.month-flex {
    display: flex;
    justify-content: center;
}

.month {
    width: 1000px;
    padding-top: 70px;
}

.month h2,
h4 {
    margin: 0 auto;
    padding: 10px;
}

.tea-options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.individual-tea {
    height: 200px;
    width: 300px;
    margin: 10px;
}


/* LOCATIONS */

.locations {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 70px;
}